html {
    font-family: 'Times New Roman', Times, serif;
}


#content {
    top:30px;
}

h1 {
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

nav {
    background-color:#c0c0f5;
    border-radius: 20px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

nav > ul {
    color: blue;
    font-size: large;
    font-weight: none;
}

a {
    font-weight: normal;
}

li > a:hover {
    background-color: yellow;
    border-radius: 10px;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

#title {
    display: flex; 
    justify-content: center;
    background-color: #c0c0f5;
    padding: 3px;
    color: blue;
}

h2 {
    color: blue;
    padding-left: 5px;
}

.university {
    float: right;
    width: 250px; 
    height: 250px;
    margin: 10px;
    border-radius: 50px;
}

section {
    background-color: #f8f88ebd;
    margin-top: 10px;
    border-radius: 20px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    flex: 1 470px;
}

section:nth-of-type(6) {
    flex: 1 100%;
}

#me {
    height: 300px;
    border-radius: 20px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

#span_name {
    font-weight: bold;
    font-size: large;
}

p {
    padding-left: 10px;
}

section > p::first-letter {
    font-size: x-large;
    font-weight: bold;
    color: blue;
}

.photo {
    border-radius: 30px;
    height: 400px;
    margin: 5px;
}

figure {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#footer {
    background-color: #c0c0f5;
    margin-top: 10px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
}

main {
    display: flex;
    flex-wrap: wrap;
}

li {
    padding-bottom: 5px;
}

ol {
    margin-top: 0px;
}

#mapid { 
    height: 500px; 
    border-radius: 10px;
    z-index: 0;
}

#chat {
    display: flex;
    position: fixed;
    background-color: blue;
    font-size: Large;
    font-weight: bold;
    justify-content: center;
    width: 100px;
    height: max-content;
    bottom: 20px;
    right: 20px;
    z-index: 10;
    border-radius: 10px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

#chat:hover {
    color: black;
}

.chatWindow {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 300px;
    height: 400px;
    background-color: white;
    z-index: 11;
    border: 1px solid;
    box-sizing: content-box;
    transform: scale(1);
    border-radius: 10px;
    overflow: hidden;
}

.divWrapper {
    justify-content: center;
    position: absolute;
    width: 100%;
    height: max-content;
    bottom: 0;
    margin: 0;
    padding: 0;
    border-top: 1px solid black;
    height: 60px;
}

.divHeader {
    position: absolute;
    top: 0;
    width: 100%;
    height: 30px;
    background-color: #767470;
}

.textarea {
    resize: none;
    position: absolute;
    width: 75%;
    height: 54px;
    margin: 0;
    border: 0;
    left: 0;
    font-size: large;
}

.btnClose {
    position: absolute;
    height: 100%;
    padding: 5px;
    right: 5px;
    border: none;
    color: white;
    font-size: large;
    background-color: #767470;
}

.btnClose:hover {
    color: black;
}

.divChat {
    position: absolute;
    margin-top: 30px;
    margin-bottom: 65px;
    height: fit-content;
    bottom: 0;
    left: 0;
    right: 0;    
    height: 70%;
    padding: 5px;
    overflow-y: scroll;
    font-size: large;
}

.msg {
    position: relative;
    height: max-content;
    width: max-content;
    word-break: keep-all;
    max-width: 75%;
    background-color: #95ee6fc4;
    border-radius: 5px;
    bottom: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
    padding: 5px;
}

.btnAudio {
    position: absolute;
    width: 20%;
    height: 90%;
    right: 4px;
    margin-top: 4px;
    padding: 0px;
    color: white;
    border: none;
    background-color: #5988e6;
    border-radius: 15px;
}

.btnAudio:hover {
    color: black;
}

.audioMsg {
    position: relative;
    max-width: 75%;
    display: block;
    padding: 5px;
}

